<div class="max-w-md mx-auto mt-16 text-center px-4">
  <p class="text-red-600 font-semibold text-sm"><%= @error %></p>
  <%= link_to "トップへ戻る", root_path, class: "mt-4 inline-block text-teal-600 underline text-sm" %>
</div>

